.main {
  margin-left: 20%;
  margin-top: 5%; }

h1 {
  font-size: 82px;
  color: #797979; }
  h1 span {
    font-style: italic;
    color: #85ec40;
    text-shadow: 2px 2px #797979; }

.buttons-links-wrapper {
  display: flex; }
  .buttons-links-wrapper button {
    width: 300px;
    height: 75px; }

.source-code {
  background-color: white;
  border: 1px solid darkgray;
  margin-right: 90px; }
  .source-code:hover {
    background-color: orangered; }
    .source-code:hover a {
      color: white; }
  .source-code:active {
    border: none; }
  .source-code a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: orangered; }

.technologies {
  background-color: white;
  border: 1px solid darkgray; }
  .technologies:hover {
    background-color: #31aae4; }
    .technologies:hover a {
      color: white; }
  .technologies:active {
    border: none; }
  .technologies a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: #31aae4; }

.arrow-wrapper {
  position: absolute;
  top: 50%;
  left: 60%; }

.app-bg, .app-button {
  position: absolute;
  bottom: 0;
  right: 0; }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  h1 {
    margin: 20px;
    font-size: 32px; }
  .app-bg, .app-button, .arrow-wrapper {
    width: 50%; }
    .app-bg img, .app-button img, .arrow-wrapper img {
      width: 100%; }
  .app-bg, .app-button {
    position: absolute;
    bottom: 0;
    right: 0; }
  .arrow-wrapper {
    position: absolute;
    left: 5%;
    bottom: 5%; }
    .arrow-wrapper img {
      position: relative;
      top: 40%; }
  .buttons-links-wrapper {
    padding: 5%; }
    .buttons-links-wrapper a {
      font-size: 16px; }
    .buttons-links-wrapper .source-code {
      margin-right: 5%; } }
