.App {
  text-align: center;
  flex-basis: 100%; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

html {
  height: 100%;
  width: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  height: 100%;
  background: white url("./img/bg.png"); }

#root {
  height: 100%; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.nav-wrapper {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  box-shadow: 0px 14px 40px -6px rgba(0, 0, 0, 0.26); }

.nav {
  display: flex;
  flex-basis: 75%;
  align-items: center;
  height: 75px;
  text-align: center; }

.signature-wrapper {
  flex-basis: 50%; }
  .signature-wrapper p {
    margin: 2px;
    font-weight: 300;
    font-style: italic; }
  .signature-wrapper span {
    font-size: 16px;
    font-weight: bold;
    margin: 5px; }
    .signature-wrapper span::before {
      margin-right: auto;
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      background: url("./img/elipse.png") no-repeat;
      background-size: 7px 7px;
      background-position: center; }

.github-wrapper .github-button {
  width: 100px;
  height: auto;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px 5px 0 0; }
  .github-wrapper .github-button img {
    width: 100%; }

.github-wrapper {
  flex-basis: 50%; }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .nav {
    flex-basis: 100%; }
  .signature-wrapper span {
    font-size: 15px; } }

.step-input-wrapper {
  height: 50%;
  display: flex;
  flex-wrap: wrap; }

.step-counter {
  font-weight: 300;
  flex-basis: 100%;
  font-size: 96px;
  margin: 5%;
  color: dimgray;
  max-height: 423px; }

.numeric-text-box {
  width: 100%;
  text-align: center;
  border: 1px solid lightgray;
  border-left: none;
  border-right: none; }
  .numeric-text-box input {
    max-width: 98%;
    font-size: 48px;
    text-align: center;
    border: none;
    height: 98%;
    color: #757575; }

.step-change-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  background-color: #e6e6e6; }

.step-change-button {
  flex-basis: auto;
  flex-grow: 5;
  height: 64px; }
  .step-change-button button {
    height: 100%;
    width: 100%;
    background-color: white;
    border: 1px solid transparent;
    font-size: 48px;
    color: #757575; }

#btn-decrease {
  border: 1px solid orangered;
  border-right: 1px solid gray; }

#btn-increase {
  border: 1px solid #85ec40; }

.result-final {
  width: 100%;
  height: auto;
  flex-basis: 100%;
  align-self: flex-start; }
  .result-final span {
    font-size: 128px;
    color: #757575; }

.limiter-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(100%, 0);
  background-color: white;
  box-shadow: 0px 0px 47px 9px rgba(0, 0, 0, 0.38); }
  .limiter-wrapper button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: orangered;
    color: white;
    border: none;
    padding: 5px; }
    .limiter-wrapper button:active {
      border: none; }
  .limiter-wrapper .limiter-input-wrapper {
    display: flex;
    flex-wrap: wrap; }
  .limiter-wrapper input {
    align-self: center; }

.input-component {
  flex-basis: 100%;
  height: 89px;
  align-self: center;
  display: flex;
  font-weight: 300; }
  .input-component + .input-component {
    border-top: 1px solid lightgray; }
  .input-component label {
    text-align: right; }
  .input-component input {
    text-align: left;
    border: none; }
  .input-component label, .input-component input {
    color: #656565;
    font-size: 48px;
    width: 50%;
    align-self: center; }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .limiter-wrapper {
    width: 100%;
    position: absolute;
    top: 100%;
    right: 100%; } }

.main {
  margin-left: 20%;
  margin-top: 5%; }

h1 {
  font-size: 82px;
  color: #797979; }
  h1 span {
    font-style: italic;
    color: #85ec40;
    text-shadow: 2px 2px #797979; }

.buttons-links-wrapper {
  display: flex; }
  .buttons-links-wrapper button {
    width: 300px;
    height: 75px; }

.source-code {
  background-color: white;
  border: 1px solid darkgray;
  margin-right: 90px; }
  .source-code:hover {
    background-color: orangered; }
    .source-code:hover a {
      color: white; }
  .source-code:active {
    border: none; }
  .source-code a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: orangered; }

.technologies {
  background-color: white;
  border: 1px solid darkgray; }
  .technologies:hover {
    background-color: #31aae4; }
    .technologies:hover a {
      color: white; }
  .technologies:active {
    border: none; }
  .technologies a {
    text-decoration: none;
    font-size: 21px;
    font-weight: 400;
    color: #31aae4; }

.arrow-wrapper {
  position: absolute;
  top: 50%;
  left: 60%; }

.app-bg, .app-button {
  position: absolute;
  bottom: 0;
  right: 0; }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  h1 {
    margin: 20px;
    font-size: 32px; }
  .app-bg, .app-button, .arrow-wrapper {
    width: 50%; }
    .app-bg img, .app-button img, .arrow-wrapper img {
      width: 100%; }
  .app-bg, .app-button {
    position: absolute;
    bottom: 0;
    right: 0; }
  .arrow-wrapper {
    position: absolute;
    left: 5%;
    bottom: 5%; }
    .arrow-wrapper img {
      position: relative;
      top: 40%; }
  .buttons-links-wrapper {
    padding: 5%; }
    .buttons-links-wrapper a {
      font-size: 16px; }
    .buttons-links-wrapper .source-code {
      margin-right: 5%; } }

.build-with-wrapper {
  text-align: center; }
  .build-with-wrapper img {
    box-shadow: 0px 44px 70px -3px rgba(0, 0, 0, 0.53); }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .build-with-wrapper img {
    width: 100%;
    box-shadow: none;
    height: auto; } }

.wrapper {
  text-align: center;
  width: 50%;
  border: 0px solid transparent;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  max-width: 470px;
  height: 500px;
  box-shadow: 0px 0px 47px 9px rgba(0, 0, 0, 0.38); }

.root-wrapper {
  height: 100%; }

textarea, input {
  outline: none;
  -webkit-appearance: none; }

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  body {
    background: white none; }
  .main {
    margin: 0;
    width: 100%; }
  .wrapper {
    width: 100%;
    display: block;
    box-shadow: none;
    height: auto; } }
